@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "css/colors.css";
@import "css/animations.css";

/* CSS Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Header Blocks */

.header {
  background-color: var(--main-background-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem;
  font-family: JetBrains Mono;
}

.header__link {
  margin-top: 2rem;
  margin-left: 1rem;
}


.header__btn {
  border: none;
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  padding: 1rem;
  text-decoration: none;
  width: 8rem;
  font-size: 1rem;
}

.header__btn--style {
  background-color: var(--main-background-color);
  border-radius: 40px;
  border: solid white 1px;
  color: white;
  margin: 0.313rem;
}

/* Main Blocks - Title, description text, card */

.main {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* min-height: calc(100vh - 87px);  */ 
  height: 100vh;
}

.main__titre {
  display: flex;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 2.618rem;
}

.main__sous-titre {
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  /* padding-top: 110px; */
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */ 

  display: block;
  overflow: hidden;
  font-size: 1.618rem;
  text-align: center;
  padding-top: 110px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-family: JetBrains Mono;
}


.main__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 18.75rem;
  width: 16rem;
  border: solid white 1px;
  border-radius: 40px;
  /* box-shadow: 5px 5px 10px 0; */
}

.main__card__img {
  height: 8rem;
}

.main__card__text {
  text-align: center;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: JetBrains Mono;
}

.main__cta {
  align-items: center;
  margin-top: 2rem;
  background-color: var(--accent-color);
  border-radius: 40px;
  color: black;
  display: flex;
  font-size: 1rem;
  font-weight: 900;
  height: 50px;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 250px;
  font-family: JetBrains Mono;
}


main,
a {
  text-decoration: none;
}

.footer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.footer__media {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2rem;
}

.footer__icon {
  height: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.footer__rgpd a {
  color: grey;
  font-size: 0.5rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}

