:root{
  --font-main: 'Jetbrains Mono', serif;
  --font-accent: 'Jersey 25', serif;
}

@font-face{
  font-family: 'Jetbrains Mono';
  src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Jersey 25';
  src: url(../assets/fonts/Jersey25-Regular.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
